<table>
    <tbody>
        <tr>
            <td>
                ID
            </td>
            <td>
                <%= user._id  %>
            </td>
        </tr>
        <tr>
            <td>
                FirstName
            </td>
            <td>
                <%= user.fname  %>
            </td>
        </tr>
        
        <tr>
                <td>
                    LastName
                </td>
                <td>
                    <%=user.lname  %>
                </td>
        </tr>
        <tr>
            <td>
                FileName
            </td>
            <td>
                <img src="<%= user[i].flname   %>" alt="pic" srcset="png">
            </td>
    </tr>
    </tbody>
</table>