
<button onclick="window.location.href='/home'"> Home</button> &nbsp;&nbsp;&nbsp;
<button onclick="window.location.href='/Register'"> Employee  </button>&nbsp;&nbsp;&nbsp;
<button onclick="window.location.href='/student'">  Student</button>   